# Command Definitions.
################################################################################

define command {
command_name                   check_geoip
command_line                   $USER1$/check_geoip -H $HOSTADDRESS$
}

define command {
command_name		       check_gts
command_line                   $USER1$/check_gts -H $HOSTADDRESS$
}

define command {
command_name                   check_tcp
command_line                   $USER1$/check_tcp -H $HOSTADDRESS$ -p $ARG1$
}

define command {
command_name                   check_udp
command_line                   $USER1$/check_udp -H $HOSTADDRESS$ -p $ARG1$
}

define command {
command_name                   check_ftp
command_line                   $USER1$/check_ftp -H $HOSTADDRESS$
}

define command {
command_name                   check_pop
command_line                   $USER1$/check_pop -H $HOSTADDRESS$
}

define command {
command_name                   check_imap
command_line                   $USER1$/check_imap -H $HOSTADDRESS$
}

define command {
command_name                   check_smtp
command_line                   $USER1$/check_smtp -H $HOSTADDRESS$
}

define command {
command_name                   check_ssh
command_line                   $USER1$/check_ssh -H $HOSTADDRESS$
}

define command {
command_name                   check_ntp
command_line                   $USER1$/check_ntp -H $HOSTADDRESS$
}

define command {
command_name                   check_mysql
command_line                   $USER1$/check_mysql -H $HOSTADDRESS$ -u $ARG1$ -p $ARG2$
}

define command {
command_name                   check_nntp
command_line                   $USER1$/check_nntp -H $HOSTADDRESS$
}

define command {
command_name                   check_http
command_line                   $USER1$/check_http -H $HOSTADDRESS$
}

define command {
command_name                   check_telnet
command_line                   $USER1$/check_tcp -H $HOSTADDRESS$ -p 23
}

define command {
command_name                   check_ping
command_line                   $USER1$/check_ping -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
}

define command {
command_name                   check_dns
command_line                   $USER1$/check_dns -H www.yahoo.com -s $HOSTADDRESS$
}

define command {
command_name                   check_hpjd
command_line                   $USER1$/check_hpjd -H $HOSTADDRESS$ -C public
}

define command {
command_name                   check_local_disk
command_line                   $USER1$/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
}

define command {
command_name                   check_local_users
command_line                   $USER1$/check_users -w $ARG1$ -c $ARG2$
}

define command {
command_name                   check_local_procs
command_line                   $USER1$/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
}

define command {
command_name                   check_local_load
command_line                   $USER1$/check_load -w $ARG1$ -c $ARG2$
}

define command {
command_name                   check-host-alive
command_line                   $USER1$/check_ping -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 1
}

define command {
command_name                   notify-by-email
command_line                   /usr/bin/printf "%b" "***** Nagios 1.0b6 *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTALIAS$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $DATETIME$\n\nAdditional Info:\n\n$OUTPUT$" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ alert - $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$
}

define command {
command_name                   notify-by-epager
command_line                   /usr/bin/printf "%b" "Service: $SERVICEDESC$\nHost: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\nInfo: $OUTPUT$\nDate: $DATETIME$" | /usr/bin/mail -s "$NOTIFICATIONTYPE$: $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$" $CONTACTPAGER$
}

define command {
command_name                   host-notify-by-email
command_line                   /usr/bin/printf "%b" "***** Nagios 1.0b6 *****\n\nNotification Type: $NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $OUTPUT$\n\nDate/Time: $DATETIME$\n" | /usr/bin/mail -s "Host $HOSTSTATE$ alert for $HOSTNAME$!" $CONTACTEMAIL$
}

define command {
command_name                   host-notify-by-epager
command_line                   /usr/bin/printf "%b" "Host '$HOSTALIAS$' is $HOSTSTATE$\nInfo: $OUTPUT$\nTime: $DATETIME$" | /usr/bin/mail -s "$NOTIFICATIONTYPE$ alert - Host $HOSTNAME$ is $HOSTSTATE$" $CONTACTPAGER$
}

define command {
command_name                   process-service-perfdata
command_line                   /usr/bin/printf "%b" "$LASTCHECK$\t$HOSTNAME$\t$SERVICEDESC$\t$SERVICESTATE$\t$SERVICEATTEMPT$\t$STATETYPE$\t$EXECUTIONTIME$\t$LATENCY$\t$OUTPUT$\t$PERFDATA$" >> /usr/local/nagios/var/service-perfdata.out
}
